# Introuduction to Sets

In [51]:
A = {1,2,3}
B = {3,4,5}
print( "A:", A, "B:", B)

A: {1, 2, 3} B: {3, 4, 5}

In [57]:
type(A)

set

In [53]:
#A.union(B) 
A|B

{1, 2, 3, 4, 5}

In [54]:
A.intersection(B) # A & B

{3}

In [55]:
A - B # A\B

{1, 2}

In [56]:
empty_set = set()
# set() = False

if empty_set:
  print("It is not an empty set")
else:
  print("It is an empty set")

It is an empty set

In [17]:
numbers = {'odd': {1,3,5,7,9,11,13,15,17},
           'even':{2,4,6,8,10,12,14,16},
           'prime':{3 ,5,7,11,17}
           }
numbers

{'even': {2, 4, 6, 8, 10, 12, 14, 16},
 'odd': {1, 3, 5, 7, 9, 11, 13, 15, 17},
 'prime': {3, 5, 7, 11, 17}}

In [58]:
numbers.items()

dict_items([('odd', {1, 3, 5, 7, 9, 11, 13, 15, 17}), ('even', {2, 4, 6, 8, 10, 12, 14, 16}), ('prime', {3, 5, 7, 11, 17})])

In [34]:
for name, contents in numbers.items():
  if contents & {1,3}:
    print("This set is part of", name, "numbers")
  else:
    print("This set is not part of", name, "numbers")

This set is part of odd numbers
This set is not part of even numbers
This set is part of prime numbers

#Problem 1
Consider the set of cats' names and dogs' names and answer the given questions below.

In [36]:
cats = {"Bella", "Charlie", "Molly", "Max", "Buddy"}
dogs = {"Benny", "Max", "Zoya", "Sandy",  "Buddy"}

What are the common names of dogs and cats?

In [66]:
 cats.intersection(dogs)

{'Buddy', 'Max'}

In [67]:
cats_inter_dogs = cats & dogs
len(cats_inter_dogs)

2

What are the names of cats which are not dogs names?

In [61]:
cats - dogs

{'Bella', 'Charlie', 'Molly'}

Give a set of names which are either a cat name or a dog name.

In [68]:
cats_uni_dogs = cats.union(dogs)
len(cats_uni_dogs)

8

What is the number of common names of cats and dogs?

In [70]:
cats | dogs

{'Bella', 'Benny', 'Buddy', 'Charlie', 'Max', 'Molly', 'Sandy', 'Zoya'}

Verify principal of inclusion and exclusion for the above cats and dogs names set

In [72]:
#n(cats | dogs) = n(cats) + n(dogs) - n(cats & dogs)
union = len(cats|dogs)
n_cats = len(cats)
n_dogs = len(dogs)
inter = len(cats & dogs)
print( union, n_cats, n_dogs, inter)

8 5 5 2

In [73]:
union == n_cats + n_dogs - inter

True

# Problem 2

You can use the online version of the data set linked here. Or if you want to the dataset locally, go to your MA1308 Sec C team and downlod the data sets from 
`Class Materials/Week 1/data/Registered_Animals.csv`
and answer the questions below.

In [74]:
# Read the data here
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/davidrajdgl/MA1308-2020/master/data/Registered_Animals.csv')

In [77]:
# Print the head of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57258 entries, 0 to 57257
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AnimalType     57258 non-null  object
 1   Name           57258 non-null  object
 2   SpecificBreed  57245 non-null  object
 3   PrimaryBreed   57245 non-null  object
 4   PrimaryColour  57245 non-null  object
 5   De-sexed       57258 non-null  object
 6   Gender         57258 non-null  object
 7   Age            57258 non-null  int64
 8   Locality       56339 non-null  object
dtypes: int64(1), object(8)
memory usage: 3.9+ MB

Make a set of dogs' names and a set of cats' names

What is the number of dogs name? and what is the number of cats name?

What is the number names which are common to cats and dogs?

What is the number of names which are either a cats name or a dog name?

What is the number of cats names which are not dogs names?

What is the number of dogs names which are not cats names?

You are now free to ask more questions on this data set and answer them here...